*.tif*
exploring_crossovers_ellesmere.ipynb
*.nfs*
*.jpg*
*.jpeg*
aoi-2-dataset/test_aoi/*
aoi-2-dataset/test_aoi/test_aoi.*

*/*.shp
*/*.shx
*/*.prj
*/*.dbf
*/*.shp
*/*.cpg
*/*.csv

spectral-change-detector/hydroATLAS/
spectral-change-detector/output/
spectral-change-detector/spectral-change_ncar.ipynb
spectral-change-detector/results.ipynb
